@font-face {
  font-family: "Mont-Bold";
  src: local("Mont-Bold"), local("Mont-Bold"),
    url("Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mont-SemiBold";
  src: local("Mont-SemiBold"), local("Mont-SemiBold"),
    url("Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mont-Medium";
  src: local("Mont-Medium"), local("Mont-Medium"),
    url("Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mont-Regular";
  src: local("Mont-Regular"), local("Mont-Regular"),
    url("Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RedHat-Bold";
  src: local("RedHat-Bold"), local("RedHat-Bold"),
    url("RedHatDisplay-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RedHat-SemiBold";
  src: local("RedHat-SemiBold"), local("RedHat-SemiBold"),
    url("RedHatDisplay-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RedHat-Medium";
  src: local("RedHat-Medium"), local("RedHat-Medium"),
    url("RedHatDisplay-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RedHat-Regular";
  src: local("RedHat-Regular"), local("RedHat-Regular"),
    url("RedHatDisplay-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Outfit-Bold";
  src: local("Outfit-Bold"), local("Outfit-Bold"),
    url("Outfit-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Outfit-SemiBold";
  src: local("Outfit-SemiBold"), local("Outfit-SemiBold"),
    url("Outfit-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Outfit-Medium";
  src: local("Outfit-Medium"), local("Outfit-Medium"),
    url("Outfit-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Outfit-Regular";
  src: local("Outfit-Regular"), local("Outfit-Regular"),
    url("Outfit-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
